.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonNavbar {
    border: none;
    background-color: transparent !important; /* Garante que não haja fundo azul */
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333 !important; /* 🔹 Garante que a cor do texto seja sempre essa */
}

.buttonNavbar:focus,
.buttonNavbar:active {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    color: #333 !important; /* 🔹 Mantém a cor normal do texto ao clicar */
}

.buttonNavbar:hover {
    border-bottom: 2px solid #FA9FAE;
    color: #FA9FAE;
}
