.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonNavbar {
    border: none;
    background-color: transparent !important;
    /* Evita fundo azul */
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333 !important;
    /* Mantém a cor padrão */
}

.buttonNavbar:focus,
.buttonNavbar:active,
.buttonNavbar:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    color: #333 !important;
    /* Mantém a cor padrão ao clicar */
    border-bottom: 2px solid transparent !important;
    /* Evita mudança de cor ao clicar */
}

.buttonNavbar:hover {
    border-bottom: 2px solid #FA9FAE;
    color: #FA9FAE;
}